*{
  padding: 0px;
  margin: 0px;
  object-fit: cover
}
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            color: white;
            padding: 10px 0;
            text-align: center;
            height: 15rem;
            background-image:url("cover.jpg");
            background-size:cover;
            
         }
        #image{
          height: 10rem;
          border-radius:100%;
          border: 5px solid #ddd;
          position: sticky;
          }
          #pic{
          height:200px        
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #00509e;
            padding: 10px;
        }
        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }
        #bars{
          height: 25px;
          margin-top: 2px;
          object-fit: cover;
        }
        #options{
          
          position:absolute;
          right:0;
          text-decoration:none;
          display: flex;
          float:right;
          display: inline;
          border: 1px solid black;
          background-color:#00509e ;
          width: 15rem;
        
          z-index: 1;
        text-align: center;
        display: none;
          
          
  
        }
        ul li{
          list-style: none;
          margin: 1rem;
        }
        div a {
          text-decoration: none;
          color: white;
          font-size: 1rem;
        }
        div hr {
          border: 1px solid black;
          margin: 1rem;
        }
        
        
        nav a:hover {
            background-color: #003366;
        }
        nav a:active {
          background-color: #003366
        }
        .welcome-section {
            padding: 20px;
            background-color: #ffffff;
            text-align: center;
        }
        .welcome-section h1 {
            color: #00509e;
        }
        .news-section {
            padding: 20px;
            background-color: #e2e2e2;
        }
        .news-item img{
          height:15rem;
          width:95vh;
          background-size: cover;
          object-fit: cover;
          
        }
        .news-section h2 {
            color: #00509e;
        }
        .news-item {
            margin-bottom: 15px;
        }
        footer {
            background-color: #003366;
            color: white;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px }
